@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


*{
    /* To remove all the unexpected gap */
    padding:0;
    margin:0;
    box-sizing: border box;
}
html{
    font-size: 10px;
    font-family: 'Rancho', cursive;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
      
    }

/* Nav Section */



/* End of Nav Section */

/* Header section */
#header{
    background-image: url(images/blue.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;

}
#header::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;

}
#header .header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;

}
#header h1{
    display: block;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation:text_reveal .5s ease forwards;
    animation-delay: 1s;



}

#header h1:nth-child(1){
    animation-delay: 1s;
}
#header h1:nth-child(2){
    animation-delay: 2s;
}
#header h1:nth-child(3){
    animation:text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#header h1 span{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color: aquamarine;
    animation:text_reveal_box 1s ease;
    animation-delay:.3s;

}
#header h1:nth-child(1) span{
    animation-delay: .5s;
}
#header h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#header h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#header .button{
    display: inline;
    padding:10px 30px;
    color: aliceblue;
    background-color: transparent;
    border: 3px solid aquamarine;
    font-family:'Poppins',sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    line-height: 100px;
    transition: .3s ease;
    transition-property: background-color,color;
}
#header .button:hover{
    color:rgb(11, 69, 53);
    background-color: aquamarine;
}
/* End of Header section */

/* Service section */


#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
#services .section-title{

    font-size: 8rem;
    font-weight: 300;
    color: rgb(228, 19, 116);
    margin-top: -300px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
#services .section-title span{
    color: rgb(109, 73, 102);
    font-size: 10rem;

}

#services .section-para {

    font-size: 18px;
    font-family:'Poppins',sans-serif;
    color: rgb(206, 36, 172);
    font-weight: 900px;
}

#services .service-bottom{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -220px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    background-image: url(images/brush.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}

#services .service-item::after{

    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
    opacity: 0.7;
    z-index: -1;
}



#services .service-bottom .icon{

    height:80px;
    width:80px;
    margin-bottom: 20px;
}

#services .service-item h2{

    font-size: 4rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{

    color: white;
    text-align: left;
}





 




    


 

/* End of service section */


/* Key frame */
@keyframes text_reveal_box{
   50%{
    width: 100%;
    left:0;
   } 
   100%{
    width:0;
    left:100%;
   }
}
@keyframes text_reveal{
    100%{
        color:aliceblue;
    }
}
@keyframes text_reveal_name{
    100%{
        color:aquamarine;
        font-weight: 500;
    }
}

/* End of the key frame */




